* {
margin: 0;
padding: 0;
border: 0;
outline: none;
box-sizing: border-box;
background: transparent;
font-family: inherit;
}
a{
text-decoration: none;
}
a img {
border: none;
}

button,
a {
cursor: pointer;
color: inherit;
}

textarea {
resize: none;
}

button,
textarea,
select {
appearance: none !important;
border-radius: 0;
}

form{
    border: 2px solid black;
    width: 400px;
    margin: 50px;
    background-color: blueviolet;
}

button{
    width: 50px;
    height: 20px;
    background-color: gold;
    color: black;
}